DATABASE_URL="postgresql://developer:dev_pass@localhost:5432/commentini?schema=public"
JWT_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
JWT_EXPIRES="10h"
GOOGLE_CLIENT_ID="<your-client-id>"
GOOGLE_CLIENT_SECRET="<your-client-secret>"
HOST_URL="http://localhost:4000"
CLIENT_URL="http://localhost:3000"